.page {

	&.contact {

		.contact-content {
			h5 {
				margin-bottom: 1.75rem;
			}
		}

		.right-aside {
			padding: 0 20px;

			@include mobile(md) {
				display: flex;
				align-items: center;
			}

			.contact-item {
				padding-bottom: 40px;
				border-bottom: 1px solid #E6E6E6;
				margin-bottom: 40px;

				@include mobile(md) {
					flex-shrink: 0;
					width: 50%;
					max-width: 50%;
					padding-bottom: 0;
					border-bottom: none;
					margin-bottom: 0;
				}

				@include mobile(x-sm) {
					padding-bottom: 25px;
					margin-bottom: 25px;
				}

				&:last-child {
					padding-bottom: 0 !important;
					border-bottom: none;
					margin-bottom: 0 !important;
				}

				h4 {
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					text-transform: uppercase;
					margin-bottom: 1.75rem;
				}

				address {
					margin-bottom: 1.5rem;

					&:last-child {
						margin-bottom: 0;
					}

					.line {
						display: flex;
						margin-bottom: 10px;

						&:last-child {
							margin-bottom: 0;
						}

						i {
							color: $primary;
							line-height: 1;
							margin-top: 5px;
							margin-right: 15px;
						}

						a {
							color: #555;
							
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

	}

}