.home-page {

	.page-banner {
		position: relative;
	
	
	}
	
	.services-box {
	
	}
	
	.company-intro {
		padding: 60px 0;

		@include mobile(x-md) {
			padding: 25px 20px;
		}
	
		.heading-with-line {
			margin-bottom: 40px;

			@include mobile(x-sm) {
				margin-bottom: 20px;
			}
		}

		.bottom-actions {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;

			@include mobile(x-lg) {
				display: block;
			}
			@include mobile(x-sm) {
				margin-top: 20px;
			}

			.button-set {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 10px;

				@include mobile(x-lg) {
					margin-bottom: 20px;
				}
				@include mobile(x-sm) {
					display: block;
				}
				
				.button {
					display: inline-block;
					padding: 20px 30px;
					background-color: #fff;
					border: solid 1px $primary;
					border-radius: 5px;

					@include mobile(x-sm) {
						display: block;
						width: 100%;
						margin: 0 0 20px !important;
					}
		
					&:hover {
						box-shadow: 0 0 5px 0px $primary;
					}
		
					.button-inner {
						display: flex;
						align-items: center;
		
						.icon {
							margin-right: 25px;
						}
		
						.text {
							h6 {
								font-family: 'Montserrat', sans-serif;
								font-size: 1.125rem;
								color: $primary;
								text-transform: uppercase;
								margin: 0;
	
								@include mobile(xl) {
									font-size: 1rem;
								}
						
								span {
									font-size: 1.25rem;
									font-weight: bold;
									color: $primary;
									display: block;
									margin-top: 2px;
								}
							}
						}
					}
				}
			}

			.logos {
				display: flex;
				align-items: center;
				justify-content: center;
	
				a {
					position: relative;
					display: block;
					margin: 0 10px;
				}
				img {
					width: auto;
					height: 120px;

					@include mobile(x-sm) {
						height: 80px;
					}
				}
			}
			
		}

	}

}
